<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<h4>This is Bootstrap</h4>
<%= link_to "Follow Me", "https://www.facebook.com/davelively14", class: "btn btn-success", target: "_blank" %>

<h4>This is mine</h4>
<%= link_to "Follow Me", "https://www.facebook.com/davelively14", class: "social-btn", target: "_blank" %>
